{% extends 'EntvalleyAppBundle::layout.html.twig' %}
{% block content %}
    <div>
        <h3>Which project do you want to work with?</h3>

        <p>You may need to choose an existing project or create a new one to start working with tasks.</p>

        <p>
            <a href="#" data-role="create_project" class="btn btn-large">Start a Project</a>
        </p>
        <div class="row projects_row">
            {% set number = 1 %}
            {% for project in projects %}
            <div class="span2 project">
                <a href="{{ path('app_task_list', { project: project.id, project_name: project.canonicalName }) }}">{{ project.name }}</a>

                <div class="legend">
                        <div>
                            <span class="label label-info">{{ project.inprogressNumber }}</span> In Progress
                        </div>
                        <div>
                            <span class="label label-important">{{ project.unresolvedNumber }}</span> Unassigned
                        </div>
                        <div>
                            <span class="label">{{ project.totalNumber }}</span> Total
                        </div>
                </div>
            </div>
            {% if number % 5 == 0 %}
                </div>
                <div class="row projects_row">
            {% endif %}
            {% set number = number + 1 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}