<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title "Entvalley Tasks" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">

    {% stylesheets
        '@EntvalleyAppBundle/Resources/public/css/bootstrap.css'
        '@EntvalleyAppBundle/Resources/public/css/bootstrap-responsive.min.css'
        '@EntvalleyAppBundle/Resources/public/css/main.less'
        '@EntvalleyAppBundle/Resources/public/css/bootstrap-wysihtml5.css'
        '@EntvalleyAppBundle/Resources/public/css/prettify.css'
        %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="topbar">
                    <div class=" pull-left">
                    <img width="44" height="44" class="picture" src="{{ asset('/bundles/entvalleyapp/images/no-avatar.png') }}">
                    <a class="username" href="{{ path('app_homepage') }}">{{ app.user.username }}</a>

                    </div>

                    {% if project is defined %}
                    <div class="summary pull-left">
                        <div class="done">
                            <div class="arrow"></div>Recent
                        </div>
                        <div class="inprogress">
                            <div class="arrow"></div>
                            <a href="{{ path('app_task_list', { project: project.id, project_name: project.canonicalName, filterByType: 'inprogress' }) }}">
                                <span data-bind="text: assignedToMe().length">0</span> In progress
                            </a>
                        </div>
                        <div class="unresolved">
                            <div class="arrow"></div>
                            <a href="{{ path('app_task_list', { project: project.id, project_name: project.canonicalName, filterByType: 'unresolved' }) }}">
                                <span data-bind="text: unassigned().length">0</span> Unresolved
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="logo-inner pull-right">
                    <img width="79" height="19" src="/bundles/entvalleyapp/images/logo-inner.png">
                </div>

                {% if project is defined %}
                <div class="project pull-right">
                    {% render 'entvalley.project_controller:navigationAction' with { project: project } %}
                </div>
                {% endif %}
                <ul class="nav pull-right">
                    {% if project is defined %}
                    <li class="active"><a href="{{ path('app_task_list', { project: project.id, project_name: project.canonicalName }) }}">Tasks</a></li>
                    {% endif %}
                    <li {% if project is not defined %}class="active"{% endif %}><a href="{{ path('app_homepage') }}">Projects</a></li>
                    <!--li><a href="#">Setting</a></li-->
                    <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                </ul>

            </div>
        </div>
</div>


<div class="container" id="new_project" data-behaviour="expandable" style="width: 570px; display: none">
    <div class="row">
        <div class="span6">
            {% render 'entvalley.project_controller:createAction' %}
        </div>
    </div>
</div>

<div class="container" id="page" style="">

    <div class="row">
        <div class="span12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% if project is defined %}
    <div class="tools">
        {% render 'entvalley.command_controller:formAction' %}
    </div>
    {% endif %}
</div>

<div id="status" style="display: none;">
    <div class="text"></div>
</div>

<!-- /container -->

<script type="text/javascript">
    var App = App || {};
    App.Me = {
        id: {{ app.user.id }}
    };

    {% if project is defined %}
    App.CurrentProject = {
        CanonicalName: {{ project.canonicalName|json_encode|raw }},
        Id: {{ project.id }}
    };
    {% else %}
    App.CurrentProject = {
        CanonicalName: null,
        Id: null
    };
    {% endif %}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/date-en-US.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/jquery.autocomplete.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/knockout-2.1.0.debug.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/sammy-latest.min.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/jquery.scrollTo-min.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/jquery.iframe-auto-height.plugin.1.8.0.min.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/app.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/command.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/Project.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/Task.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/Comment.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/routes.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/wysihtml5-0.3.0.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/prettify.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/bootstrap-wysihtml5.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/jquery.autosize.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/jquery-ui-1.9.1.custom.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/vendor/jquery.timeago.js') }}"></script>
<script type="text/javascript">
    $(prettyPrint);
</script>
</body>
</html>
