<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title "Entvalley Tasks" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">

    {% stylesheets
        '@EntvalleyAppBundle/Resources/public/css/bootstrap.min.css'
        '@EntvalleyAppBundle/Resources/public/css/bootstrap-responsive.min.css'
        '@EntvalleyAppBundle/Resources/public/css/main.less'
        %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<div class="navbar navbar-fixed-top">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="topbar">
                    <img width="44" height="44" class="picture" src="{{ asset('/bundles/entvalleyapp/images/no-avatar.png') }}">
                    <a class="username" href="{{ path('app_homepage') }}">{{ app.user.username }}</a>

                    <div class="summary">
                        <div class="inprogress">
                            <div class="arrow"></div>
                            12 In progress
                        </div>
                        <div class="unresolved">
                            <div class="arrow"></div>
                            <span data-bind="text: tasks().length"></span> Unresolved
                        </div>
                    </div>

                </div>

                <div class="logo-inner pull-right">
                    <img width="153" height="19" src="/bundles/entvalleyapp/images/logo-inner.png">
                </div>
                <ul class="nav pull-right">
                              <li class="active"><a href="#">Tasks</a></li>
                              <li><a href="#about">Setting</a></li>
                              <li><a href="#contact">Log out</a></li>
                            </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="tools">
        {% render 'EntvalleyAppBundle:Command:form' %}
    </div>
</div>

<div id="status" style="display: none;">
    <div class="text"></div>
</div>
<!-- /container -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ asset('bundles/entvalleyapp/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/date-en-US.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/jquery.autocomplete.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/app.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/knockout-2.1.0.debug.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/sammy-latest.min.js') }}"></script>
<script src="{{ asset('bundles/entvalleyapp/js/jquery.scrollTo-min.js') }}"></script>

</body>
</html>



